<div class="row tw-my-4">
    <div class="col-9 tw-my-2">
        <div class="tw-flex">
            <button><i class="fa fa-search tw-text-2xl tw-mx-2 " ></i></button>
            <input type="text" class="tw-bg-zinc-100 tw-w-96 tw-rounded-lg tw-px-2 focus:tw-bg-white focus:tw-outline-cyan-500" placeholder="Bạn muốn tìm gì">
        </div>
       
    </div>
    <div class="col-3 tw-my-2">
       <div class="row">
        <div class="col-8">
            <div class="row p-0">
                <div class="col-4">
                    <a href=""><i class="fa-solid fa-bell tw-text-2xl"></i></a>
                </div>
                <div class="col-4">
                    <a href=""><i class="fa-solid fa-message tw-text-2xl"></i></a>
                </div>
                <div class="col-4">
                    <a routerLink="" ><i class="fa-solid fa-earth-africa tw-text-2xl"></i></a>
                </div>
            </div>
        </div>
        <div class="col-4">
           <a href=""> <img src="https://img.thuthuattinhoc.vn/uploads/2019/01/08/anh-anime-boy-dep-nhat_101905549.jpg" class="tw-w-8 tw-h-8 tw-rounded-full"  alt=""></a>
        </div>
       </div>
    </div>
</div>