<div class="container-full tw-bg-zinc-50 ">
    <div class="row tw-h-3/4">
        <div class="col-2">
            <app-aside></app-aside>
        </div>
        <div class="col-10">
            <div class="row p-0">
                <div class="col-12 tw-shadow-lg">
                    <app-header></app-header>
                </div>
                <div class="col-12 tw-py-24">
                    <div class="row">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tw-h-1/4">
        <div class="col-12">
            <app-footer-admin></app-footer-admin>
        </div>
    </div>
</div>