<div class="row tw-text-cyan-400 tw-shadow-2xl p-0 tw-h-full">
    <ul class="">
        <caption class="tw-block text-center text-warning tw-text-2xl tw-font-bold"><i
                class="fa-solid fa-shop me-1"></i><a href="">POLY SHOP</a></caption>
        <li class="">
            <button (click)="pageDashboard()" 
                [ngClass]="ele == 1 ? 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 tw-text-red-400 tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in' : 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 hover:tw-text-red-400 hover:tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in'"><i
                    class="fa-solid fa-house-chimney me-2"></i>DASHBOARD</button>
        </li>
        <li>
            <button (click)="pageInfo()"
            [ngClass]="ele == 3 ? 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 tw-text-red-400 tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in' : 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 hover:tw-text-red-400 hover:tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in'"><i
                    class="fa-solid fa-book me-2"></i>INFOMATION</button>
        </li>
        <li>
            <button (click)="pageSkill()" 
                [ngClass]="ele == 2 ? 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 tw-text-red-400 tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in' : 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 hover:tw-text-red-400 hover:tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in'"><i
                    class="fa fa-cubes me-2"></i>SKILLS</button>
        </li>
        <li>
            <button (click)="pageProject()"
            [ngClass]="ele == 4 ? 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 tw-text-red-400 tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in' : 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 hover:tw-text-red-400 hover:tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in'"><i
                    class="fa-solid fa-file me-2"></i>PROJECT</button>
        </li>
        <li>
            <button (click)="pageSchools()"
            [ngClass]="ele == 5 ? 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 tw-text-red-400 tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in' : 'tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 hover:tw-text-red-400 hover:tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in'"><i
                    class="fa-solid fa-file me-2"></i>SCHOOL</button>
        </li>
        <li>
            <a routerLink="./cv"
                class="tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 hover:tw-text-red-400 hover:tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in"><i
                    class="fa fa-arrow-circle-left me-2"></i>CV</a>
        </li>
        <li>
            <a href=""
                class="tw-block tw-px-2 tw-py-6 tw-text-xl tw-font-bold tw-border-b tw-border-white tw-mx-2 hover:tw-text-red-400 hover:tw-text-2xl transition tw-duration-150 tw-ease-out md:tw-ease-in"><i
                    class="fa fa-arrow-circle-left me-2"></i>SIGN OUT</a>
        </li>

    </ul>
</div>